<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Tracking
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-searchbar></ion-searchbar>
  <ion-list>
    <span *ngFor="let appointment of appointments">
      <ion-item *ngIf="checkDays(appointment.Appointment_date)" [routerLink]="['/patient-summary/', appointment.patient_ID]" routeDirection="forward">
        <ion-label>
          <h3>PID: {{ appointment.patient_ID }} </h3>
          <p>Appointment: {{ appointment.Appointment_date | date }} </p>
          <p>Status: </p>
        </ion-label>
      </ion-item>
    </span>
  </ion-list>
  <!--ion-tabs>
   <ion-tab-bar slot="top">
     <ion-tab-button tab="patient-details">
       <ion-icon name="person"></ion-icon>
       <ion-label>Patient details</ion-label>
     </ion-tab-button>
     <ion-tab-button tab="followupoutcome">
       <ion-icon name="clipboard"></ion-icon>
       <ion-label>Follow up outcome</ion-label>
     </ion-tab-button>
   </ion-tab-bar>
 </ion-tabs-->
</ion-content>
