<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Tracking
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="missed_appointments_list">
    <ion-item-group>
      <ion-item-divider>
        <ion-label style="color: #424242;">Missed Appointments</ion-label>
        <ion-badge color="primary" slot="end" style="margin-right:5%">10</ion-badge>
      </ion-item-divider>
      <span *ngFor="let appointment of appointments">
        <ion-item lines="none" class="missed_appointment" *ngIf="checkDays(appointment.Appointment_date)" [routerLink]="['/patient-summary/', appointment.patient_ID]" routeDirection="forward">
          <ion-label>
            <h3>PID: {{ appointment.patient_ID }} </h3>
            <p>Last-Next Appointment: <span style="font-weight:bold">{{ appointment.Appointment_date | date }}</span> </p>
            <p>Status: <span style="font-weight:bold">{{ appointment.Appointment_outcome }}</span> </p>
          </ion-label>
          <ion-note slot="end" style="color:#2CA062;">TRACK</ion-note>
        </ion-item>
      </span>
    </ion-item-group>
  </ion-list>
  <!--ion-tabs>
   <ion-tab-bar slot="top">
     <ion-tab-button tab="patient-details">
       <ion-icon name="person"></ion-icon>
       <ion-label>Patient details</ion-label>
     </ion-tab-button>
     <ion-tab-button tab="followupoutcome">
       <ion-icon name="clipboard"></ion-icon>
       <ion-label>Follow up outcome</ion-label>
     </ion-tab-button>
   </ion-tab-bar>
 </ion-tabs-->
</ion-content>
