.small-card{
height:25%!important;
padding: 1%;
}

.sidebysideStats{
float: left;
width: 55%;
height: 95%;
}

.sidebysideStats h6{
margin-top: 5%;
}

.doughChart{
    float: left;
    width: 35%;
    height: 95%;
}

.statsLabel{
    float: left;
    width: 5%;
    height: 95%;
    padding-top: 50px;
}

.sideStats{
    float: left;
    width: 24%;
    margin-left:1%;
}

.sideStats p{
    text-align: center;
    font-size: 8px;
}


ion-icon{
    color:#424242;
}
ion-grid{
    ion-icon{
        color:rgb(29, 28, 28);
    }
}

ion-col{
    text-align: center;
    font-size: 85%;
}

.tableHeader ion-col{
    color:#ffffff;
    font-size: 90%;
}

ion-row:nth-of-type(odd){
    background-color: #F5F5F5;
}

//Styling for Bar chart section

.largeCard{
    height:70%!important;
    padding: 1%;
  }
  .barChart{
    height: 60%;
  }
  
  .barTitleStats h6{
    margin-left:5%;
  
  }
  
  .barSideStats{
    margin-top: 3%;
    border-top: 1px solid #EEEEEE;
    height: 18%;
  }
  
  .barSideStats .sideStats:not(:last-of-type){
    border-right: 1px solid #EEEEEE;
  }
  
  .barSideStats .sideStats{
    margin-top: 2%;
  }