.smallCard{
  height:25%!important;
  padding: 1%;
}

.largeCard{
  height:70%!important;
  padding: 1%;
}
.sidebysideStats{
  float: left;
  width: 55%;
  height: 95%;
}

.sidebysideStats h6{
  margin-top: 5%;
}

.doughChart{
  float: left;
  width: 35%;
  height: 95%;
}

.statsLabel{
  float: left;
  width: 5%;
  height: 95%;
  padding-top: 50px;
}

.sideStats{
  float: left;
  width: 24%;
  margin-left:1%;
}

.sideStats p{
  text-align: center;
  font-size: 8px;
}


ion-icon{
  color:#424242;
}

// Bar chart section styling


.barChart{
  height: 65%;
}

.barTitleStats h6{
  margin-left:5%;

}

.barSideStats{
  margin-top: 5%;
  border-top: 1px solid #000;
  height: 30%;
}

@media screen and (orientation: portrait) {
  .weekly-stats {
    width: 0.7;
    height: 0.82;
  }
}

@media screen and (orientation: landscape) {
  .weekly-stats {
    width: 0.7;
    height: 0.82;
  }
}

.cell{
   display: block;
   color: red;
   width: 33%
}
