<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Registry
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar></ion-searchbar>
  <ion-list class="appointments__list">
    <ion-item class="appointment" [routerLink]="['/appointment-summary/', appointment.patient_ID]" routeDirection="forward" *ngFor="let appointment of appointments">
        <ion-label>
          <h3>PID: {{ appointment.patient_ID }} </h3>
          <p>Appointment: {{ appointment.Appointment_date | date }} </p>
          <p>Status: </p>
        </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
